.home {
  position: relative;
}

.bgImage {
  height: 100vh;
  width: 100vw;
  transition: all 1.2s ease-in-out;
}

.bgImage:hover {
  transform: scale(1.7);
}

.homeContent {
  position: absolute;
  top: 20%;
  right: 50%;
  color: white;
  font-size: 40px;
}

.downloadText {
  display: flex;
  margin-top: 40px;
  font-size: 15px;
  align-items: center;
}

.downloadText > span {
  margin-left: 10px;
}

.downloadContainers {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1290px) {
  .homeContent {
    margin: 10px 20px;
    position: fixed;
    right: 20px;
    width: 650px;
    top: 250px;
  }
  .homeContent > h1 {
    font-size: 40px;
  }
  .homeContent > p {
    font-size: 25px;
  }
  .downloadText {
    font-size: 10px;
  }
}

@media screen and (max-width: 830px) {
  .homeContent {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .homeContent {
    width: 300px;
  }
}
