.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 99;
  top: 0;
  font-weight: 700;
  font-family: SFPro, Arial, NotoSansJP_r, NotoSansKR_r, sans-serif;
  border-bottom: 1px solid lightgrey;
}

.homeText {
  padding: 20px 20px;
}

.navContent {
  padding: 10px 25px;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.active {
  padding-bottom: 5px;
  border-bottom: 4px solid black;
}

.language {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.language:hover {
  cursor: pointer;
}

.navContentDropDown {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    position: relative;
  }
  .navbar p {
    color: #000;
    border-color: white;
  }
  .navContent {
    display: none;
  }
  .navContentDropDown {
    display: block;
    background-color: #fff;
    border-top: 1px solid #23bf52;
  }
  .navContentDropDown > a {
    display: block;
    padding: 25px;
    padding-left: 65px;
    border-bottom: 1px solid lightblue;
  }
  .homeText {
    margin-left: 30px;
    padding-left: 0;
  }
  .language {
    display: none;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 20%;
    padding: 7px;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: #000;
    flex: 1;
    margin: 3px;
  }
}
