.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 99;
  top: 0;
  font-size: 15px;
  font-weight: 700;
  font-family: SFPro, Arial, NotoSansJP_r, NotoSansKR_r, sans-serif;
}

.homeText {
  padding: 20px 20px;
}

.navContent {
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.active {
  border-bottom: 4px solid black;
}

.language {
  padding-right: 20px;
  display: flex;
}
